In [0]:
import numpy as np 
import pandas as pd 
import scipy.stats as stats 
import matplotlib.pyplot as plt 
import sklearn 
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [70]:

from google.colab import files
uploaded = files.upload()

Saving nba_2013.csv to nba_2013 (2).csv

In [0]:
nba = pd.read_csv('nba_2013.csv')

In [72]:
nba.head(2)

         player pos  age bref_team_id   g  ...  tov   pf  pts     season  season_end
0    Quincy Acy  SF   23          TOT  63  ...   30  122  171  2013-2014        2013
1  Steven Adams   C   20          OKC  81  ...   71  203  265  2013-2014        2013

[2 rows x 31 columns]

In [73]:
nba.shape

(481, 31)

In [0]:
nba_data=pd.DataFrame(nba)

In [75]:
nba.head(1)

       player pos  age bref_team_id   g  ...  tov   pf  pts     season  season_end
0  Quincy Acy  SF   23          TOT  63  ...   30  122  171  2013-2014        2013

[1 rows x 31 columns]

In [93]:
nba_x=pd.DataFrame(nba[['age','mp','fga','pf','season_end']])
nba_x.head(2)

   age    mp  fga   pf  season_end
0   23   847  141  122        2013
1   20  1197  185  203        2013

In [94]:
nba_y=pd.DataFrame(nba[['pts']])
nba_y.head(2)

nba_y.shape

(481, 1)

In [95]:
nba_x.isnull().sum()

age           0
mp            0
fga           0
pf            0
season_end    0
dtype: int64

In [96]:
nba_y.isnull().sum()

pts    0
dtype: int64

In [0]:
X_train,X_test,y_train,y_test=train_test_split(nba_x,nba_y,test_size=0.2)

In [98]:
len(X_train)

384

In [99]:
len(X_test)

97

In [100]:
len(y_test)

97

In [101]:
len(y_train)

384

In [115]:
#Applyling KNN Regression

from sklearn.neighbors import KNeighborsRegressor
model= KNeighborsRegressor(n_neighbors=5)
model.fit(X_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')

In [0]:
y_pred=model.predict(X_test)

In [117]:
from sklearn import metrics
score=metrics.r2_score(y_test,y_pred)
score

0.9817011438378639