In [2]:
import numpy as np 
import pandas as pd 
import scipy.stats as stats 
import matplotlib.pyplot as plt 
import sklearn 
from sklearn.datasets import load_boston 
from sklearn import linear_model
from sklearn.model_selection import train_test_split
boston = load_boston()
boston

{'DESCR': ".. _boston_dataset:\n\nBoston house prices dataset\n---------------------------\n\n**Data Set Characteristics:**  \n\n    :Number of Instances: 506 \n\n    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.\n\n    :Attribute Information (in order):\n        - CRIM     per capita crime rate by town\n        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n        - INDUS    proportion of non-retail business acres per town\n        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n        - NOX      nitric oxides concentration (parts per 10 million)\n        - RM       average number of rooms per dwelling\n        - AGE      proportion of owner-occupied units built prior to 1940\n        - DIS      weighted distances to five Boston employment centres\n        - RAD      index of accessibility to radial highways\n        - TAX      full-value property-tax rate per $10,000\n        - PTRATIO  pupil-teacher ratio by town\n        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\n        - LSTAT    % lower status of the population\n        - MEDV     Median value of owner-occupied homes in $1000's\n\n    :Missing Attribute Values: None\n\n    :Creator: Harrison, D. and Rubinfeld, D.L.\n\nThis is a copy of UCI ML housing dataset.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/housing/\n\n\nThis dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\n\nThe Boston house-price data has been used in many machine learning papers that address regression\nproblems.   \n     \n.. topic:: References\n\n   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n",
 'data': array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
         4.9800e+00],
        [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
         9.1400e+00],
        [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
         4.0300e+00],
        ...,
        [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         5.6400e+00],
        [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
         6.4800e+00],
        [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         7.8800e+00]]),
 'feature_names': array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
        'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7'),
 'filename': '/usr/local/lib/python3.6/dist-packages/sklearn/datasets/data/boston_house_prices.csv',
 'target': array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
        18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
        15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
        13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
        21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
        35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
        19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
        20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
        23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
        33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
        21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
        20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
        23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
        15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
        17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
        25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
        23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
        32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
        34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
        20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
        26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
        31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
        22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
        42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
        36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
        32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
        20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
        20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
        22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
        21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
        19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
        32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
        18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
        16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
        13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
         7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
        12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
        27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
         8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
         9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
        10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
        15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
        19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
        29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
        20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
        23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9])}

In [3]:
df_x=pd.DataFrame(boston.data,columns=boston.feature_names )
df_y=pd.DataFrame(boston.target,columns={'Medv'})
df_x.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [4]:
df_y.head()

   Medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

Handling Null Values

In [5]:
df_x.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
dtype: int64

In [6]:
df_x.shape

(506, 13)

In [7]:
df_y.shape

(506, 1)

In [8]:
df_x.describe()

             CRIM          ZN       INDUS  ...     PTRATIO           B       LSTAT
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...   18.455534  356.674032   12.653063
std      8.601545   23.322453    6.860353  ...    2.164946   91.294864    7.141062
min      0.006320    0.000000    0.460000  ...   12.600000    0.320000    1.730000
25%      0.082045    0.000000    5.190000  ...   17.400000  375.377500    6.950000
50%      0.256510    0.000000    9.690000  ...   19.050000  391.440000   11.360000
75%      3.677083   12.500000   18.100000  ...   20.200000  396.225000   16.955000
max     88.976200  100.000000   27.740000  ...   22.000000  396.900000   37.970000

[8 rows x 13 columns]

In [9]:
df_y.describe()

             Medv
count  506.000000
mean    22.532806
std      9.197104
min      5.000000
25%     17.025000
50%     21.200000
75%     25.000000
max     50.000000

In [0]:
regression=linear_model.LinearRegression()

In [0]:
x_train,x_test,y_train,y_test=train_test_split(df_x,df_y, test_size=0.33,random_state=40)

In [12]:
regression.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
print(regression.coef_)

[[-1.02150217e-01  3.87094407e-02 -5.28429525e-02  3.43078847e+00
  -1.80557670e+01  3.70650629e+00 -5.21533541e-03 -1.36256184e+00
   2.61843022e-01 -9.56542532e-03 -8.70670318e-01  6.97194567e-03
  -4.95865312e-01]]

In [14]:
y_pred=regression.predict(x_test)
print(y_pred)

[[21.91450954]
 [32.43549858]
 [ 9.41646948]
 [16.44926671]
 [17.96100207]
 [31.93144495]
 [25.09215936]
 [15.47686185]
 [21.67313156]
 [-3.64985488]
 [26.07082519]
 [15.5122347 ]
 [ 5.68133032]
 [ 5.62389129]
 [25.42134106]
 [34.81828865]
 [26.1507173 ]
 [19.24742174]
 [24.07448394]
 [15.03485843]
 [39.60313848]
 [11.11112845]
 [36.6650798 ]
 [26.01782937]
 [38.77598013]
 [25.27320829]
 [21.81538567]
 [18.95581327]
 [18.26953576]
 [18.6491498 ]
 [24.63128393]
 [23.72068316]
 [29.64341433]
 [24.10097936]
 [ 0.54375147]
 [24.67344736]
 [25.25001855]
 [12.27136329]
 [39.51185564]
 [32.24393006]
 [23.81151075]
 [ 7.11911935]
 [20.38283491]
 [20.99262225]
 [31.41727817]
 [ 7.52633186]
 [12.63479522]
 [31.34904545]
 [22.48091294]
 [35.81078968]
 [12.79991345]
 [20.74592282]
 [18.40153178]
 [ 7.72726307]
 [ 6.50920911]
 [40.56012373]
 [25.00715621]
 [24.16673562]
 [23.11327735]
 [ 7.4281137 ]
 [22.89453201]
 [ 9.79280527]
 [32.99809817]
 [13.99805159]
 [28.52328236]
 [17.14428124]
 [ 3.56278513]
 [28.64408688]
 [19.43041774]
 [18.90432621]
 [19.29523158]
 [27.90357514]
 [21.22951105]
 [27.97950885]
 [34.29747536]
 [20.06671016]
 [13.46891168]
 [24.71284633]
 [16.5965982 ]
 [22.66498662]
 [18.98298151]
 [17.4434507 ]
 [18.67448471]
 [10.12214365]
 [16.85776212]
 [11.04187266]
 [17.00736296]
 [20.3118033 ]
 [20.53014116]
 [19.34836858]
 [27.31669343]
 [ 7.60166628]
 [20.09323478]
 [ 5.20057899]
 [20.18816008]
 [ 5.24262632]
 [17.6504751 ]
 [27.08419717]
 [22.98367455]
 [20.45562334]
 [24.62584461]
 [16.16527873]
 [24.84237234]
 [ 6.00246272]
 [31.30314945]
 [21.67632732]
 [30.41948096]
 [31.90092878]
 [21.88789113]
 [17.53825433]
 [30.13185348]
 [40.04244289]
 [27.61633663]
 [22.06393735]
 [22.23201576]
 [14.78934607]
 [21.24663176]
 [19.23065123]
 [41.97851771]
 [21.53594082]
 [22.57109901]
 [29.0312345 ]
 [25.28563824]
 [16.56749759]
 [41.7364834 ]
 [18.32691304]
 [13.73522603]
 [24.56991198]
 [16.36881177]
 [28.62417184]
 [13.18948424]
 [26.78800651]
 [30.11785956]
 [23.03411588]
 [33.60921777]
 [34.95827493]
 [19.35540006]
 [20.2178228 ]
 [13.34400342]
 [19.52201307]
 [13.02861634]
 [35.25031692]
 [16.79672743]
 [25.20347531]
 [27.50033719]
 [22.64372805]
 [14.0768368 ]
 [23.18512353]
 [14.84428507]
 [34.62449745]
 [36.11449107]
 [13.83795208]
 [21.94480055]
 [15.18230904]
 [26.0910298 ]
 [21.17112964]
 [27.99357392]
 [16.48669972]
 [17.96868536]
 [22.25775003]
 [16.28193809]
 [30.28335229]
 [17.67848321]
 [26.86534886]
 [20.75721196]
 [32.01458557]
 [21.43449956]]

In [15]:
print(y_test)

     Medv
358  22.7
197  30.3
48   14.4
450  13.4
469  20.1
..    ...
442  18.4
288  22.3
335  21.1
237  31.5
453  17.8

[167 rows x 1 columns]

In [16]:
print(y_test.iloc[5])
print(y_pred[5])

Medv    50.0
Name: 369, dtype: float64
[31.93144495]

In [17]:
regression.score(x_test,y_test)

0.7257309545989091

Using K FOLD cross validation ot measure accuracy of our LinenarRegression model

In [28]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
cv=ShuffleSplit(n_splits=5,test_size=0.2, random_state=0)
cross_val_score(regression,df_x,df_y,cv=cv)

array([0.58922238, 0.67790515, 0.62474713, 0.79455314, 0.7751921 ])

**Use GridSearchSV for parameter tunning**

In [69]:
from sklearn.model_selection import GridSearchCV
cv=ShuffleSplit(n_splits=6,test_size=0.4, random_state=0)
clf = GridSearchCV(regression, {
  'normalize':[True,False]
}, cv=cv, return_train_score=False)
clf.fit(df_x, df_y)
clf.cv_results_

{'mean_fit_time': array([0.00398052, 0.00303344]),
 'mean_score_time': array([0.00257456, 0.00215876]),
 'mean_test_score': array([0.72720408, 0.72720408]),
 'param_normalize': masked_array(data=[True, False],
              mask=[False, False],
        fill_value='?',
             dtype=object),
 'params': [{'normalize': True}, {'normalize': False}],
 'rank_test_score': array([1, 1], dtype=int32),
 'split0_test_score': array([0.68826071, 0.68826071]),
 'split1_test_score': array([0.67865642, 0.67865642]),
 'split2_test_score': array([0.73412142, 0.73412142]),
 'split3_test_score': array([0.76512597, 0.76512597]),
 'split4_test_score': array([0.75429364, 0.75429364]),
 'split5_test_score': array([0.74276631, 0.74276631]),
 'std_fit_time': array([0.00167908, 0.0006171 ]),
 'std_score_time': array([0.00053803, 0.00028561]),
 'std_test_score': array([0.03249464, 0.03249464])}

In [70]:

df = pd.DataFrame(clf.cv_results_)
df

   mean_fit_time  std_fit_time  ...  std_test_score  rank_test_score
0       0.003981      0.001679  ...        0.032495                1
1       0.003033      0.000617  ...        0.032495                1

[2 rows x 15 columns]

In [71]:

df[['param_normalize','params','mean_test_score']]

  param_normalize                params  mean_test_score
0            True   {'normalize': True}         0.727204
1           False  {'normalize': False}         0.727204

In [72]:
clf.best_params_

{'normalize': True}


**Use RandomizedSearchCV to reduce number of iterations and with random combination of parameters. This is useful when you have too many parameters to try and your training time is longer. It helps reduce the cost of computation**

In [74]:
from sklearn.model_selection import RandomizedSearchCV
cv=ShuffleSplit(n_splits=6,test_size=0.4, random_state=0)
clf = RandomizedSearchCV(regression, {
  'normalize':[True,False]
}, cv=cv, return_train_score=False)
clf.fit(df_x, df_y)
clf.cv_results_

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:281: UserWarning: The total space of parameters 2 is smaller than n_iter=10. Running 2 iterations. For exhaustive searches, use GridSearchCV.
  % (grid_size, self.n_iter, grid_size), UserWarning)

{'mean_fit_time': array([0.00368718, 0.00296505]),
 'mean_score_time': array([0.00300356, 0.00215479]),
 'mean_test_score': array([0.72720408, 0.72720408]),
 'param_normalize': masked_array(data=[True, False],
              mask=[False, False],
        fill_value='?',
             dtype=object),
 'params': [{'normalize': True}, {'normalize': False}],
 'rank_test_score': array([1, 1], dtype=int32),
 'split0_test_score': array([0.68826071, 0.68826071]),
 'split1_test_score': array([0.67865642, 0.67865642]),
 'split2_test_score': array([0.73412142, 0.73412142]),
 'split3_test_score': array([0.76512597, 0.76512597]),
 'split4_test_score': array([0.75429364, 0.75429364]),
 'split5_test_score': array([0.74276631, 0.74276631]),
 'std_fit_time': array([0.00105434, 0.00057549]),
 'std_score_time': array([0.00163824, 0.00015792]),
 'std_test_score': array([0.03249464, 0.03249464])}

In [75]:
df = pd.DataFrame(clf.cv_results_)
df

   mean_fit_time  std_fit_time  ...  std_test_score  rank_test_score
0       0.003687      0.001054  ...        0.032495                1
1       0.002965      0.000575  ...        0.032495                1

[2 rows x 15 columns]

In [76]:
df[['param_normalize','params','mean_test_score']]

  param_normalize                params  mean_test_score
0            True   {'normalize': True}         0.727204
1           False  {'normalize': False}         0.727204