1.1 Write a Python Program to implement your own myreduce() function which works exactly like Python's built-in function reduce() 
Implementing the multiplication of numbers using reduce

In [13]:
from functools import reduce
Numberlist=[2,3,4,5,6,7,8,9]
multiplier=lambda x,y: x*y
value=reduce(multiplier,Numberlist)
print(value)

362880

Implementing the multiplication of numbers with out using reduce function

In [15]:
def myreduce(X):
    product=1
    for x in X:
      product=product*x
    return product

value=myreduce(Numberlist)
print(value)

362880


 1.2 Write a Python program to implement your own myfilter() function which works exactly like Python's built-in function filter()
filtering the data greater the average of data using filter and myfilter

In [20]:
import numpy as np
list1=[4,5,6,7,8,9.5,10.5]
avg=np.average(list1)
print(avg)

list(filter(lambda X: X>avg,list1))

7.142857142857143

[8, 9.5, 10.5]

Now implementing creating own myflter function

In [24]:
list1=[4,5,6,7,8,9.5,10.5]
def myfilter(X):
  list2=[]
  avg=np.average(list1)
  for x in X:
    if x>avg:
      list2.append(x)
  return list2
value=myfilter(list1)
print(value)

[8, 9.5, 10.5]


 2. Implement List comprehensions to produce the following lists. 
Write List comprehensions to produce the following Lists 

['A', 'C', 'A', 'D', 'G', 'I', ’L’, ‘ D’] 
 
['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

[[2], [3], [4], [3], [4], [5], [4], [5], [6]] 

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]] 


[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [26]:
letters="ACADGILD"
alphabet= [i for  i in letters]
print(alphabet)

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

In [27]:
value=['X','Y','Z']
result=[result*num for result in value for num in range(1,5)]
print(result)

['X', 'XX', 'XXX', 'XXXX', 'Y', 'YY', 'YYY', 'YYYY', 'Z', 'ZZ', 'ZZZ', 'ZZZZ']

In [38]:
value1=['X','Y','Z']

reslut1=[result1*num1 for num1 in range(1,5) for result1 in value1  ]
print(reslut1)

['X', 'Y', 'Z', 'XX', 'YY', 'ZZ', 'XXX', 'YYY', 'ZZZ', 'XXXX', 'YYYY', 'ZZZZ']

In [48]:
input_list = [2,3,4]
result = [ [item+num] for item in input_list for num in range(0,3)]
print(result)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [53]:
input_list = [2,3,4,5]
result = [[item+num for item in input_list] for num in range(0,4)]
print(result)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [54]:
input_list = [1,2,3]
result = [(a,b) for a in input_list for b in input_list]
print("[2,3,4] =>" +  str(result))

[2,3,4] =>[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]